[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.5.6"
requests = "==2.32.3"
pandas = "==2.3.0"
openpyxl = "*"
xgboost = "*"
scikit-learn = "==1.4.2"
pyarrow = ">=4.0.0"
mlflow = "==3.0.0"

[dev-packages]
pyspark = "==3.5.6"
requests = "==2.32.3"
pandas = "==2.3.0"
openpyxl = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.11.5"
