[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.5.6"
requests = "==2.32.3"
pandas = "==2.3.0"
openpyxl = "*"

[dev-packages]
pyspark = "==3.5.6"
requests = "==2.32.3"
pandas = "==2.3.0"
openpyxl = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"



[requires]
python_version = "3.11.5"
